@import url("https://fonts.googleapis.com/css?family=Roboto:500|Roboto:400|Roboto:300");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  --primary: #552583;
  --secondary: #fdb927;
  --blue: #1890ff;
  --blueSelected: #1890ff44;
}

body {
  font-family: "Roboto";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto";
  font-weight: 500;
}
.light {
  font-family: "Roboto";
  font-weight: 300;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}
